.login {

	scroll-content {
		overflow: hidden;
	}
	
	.login-header {
		background-color: #434954;
		padding: 0;
		margin: -16px -16px 5px;
		min-height: 127px;

		h2 {
			font-family: Tahoma;
			font-style: italic;
			font-weight: bold;
			text-align: center;
			padding: 25px 0 50px;
			font-size: 43px;
			color: white;
		}
	}
}